body{
    background-color:skyblue;
    color:purple;
}
.backbtnstyle{
    float: right;
    font-style: oblique;
    font-weight: bolder;
    background-color:purple;
}
header{
    background-color:grey;
}
.btn_container{
background-color:lightseagreen;
padding-left: 15%;
padding-top: 10px;
}
.mybtn{
    padding:15px;
    margin:12px;
}